/* .home-wrapper {
  min-height: 100vh;
  background-color: rgb(69, 118, 69);
} */

/* .chart {
  min-height: 100vh;
} */

/* .chart-navbar {
  background-color: rgb(198, 205, 62);
} */

canvas {
  font-family: Quicksand;
}
.Chart {
  position: absolute;
  max-height: 35vh;
  max-width: 100%;
  margin-top: 20px;
  text-align: center;
}

.all {
  border-radius: 20px;
  position:relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  background-color: rgb(153, 220, 153);
}

.chart-month-text {
  margin: 20px 0 0 0;
}

.chart-month-calculateSum {
  font-weight: 700;
  margin: 0;
}

.chart-container {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 18px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 15vw;
  padding: 10px;
  background-color: rgb(106, 190, 106, 0.5);
}

.form-wrapper {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.form-wrapper input {
  margin: 10px 10px 0 10px;
  text-align: center;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255, 0.8);
  background-color: rgb(106, 190, 106, 0.5);
  color: #fff;
}

.chart-input-seed:hover {
  background-color: rgba(209,242,165, 0.9);
}

.chart-input-irrigation:hover {
  background-color: rgba(130,179,174, 3);
}

.chart-input-fertilizer:hover {
  background-color: rgba(205,187,153, 3);
}

/* .chart-color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
} */

/* .chart-color-box-irrigation {
  display: flex;
  justify-content: center;
  align-items: center;
font-size: 12px;
width: 5vw;
height: 2vh;
background-color: rgba(130,179,174, 3);
border: 2px solid white;
}

.chart-color-text-irrigation {
  margin-left: 10px;
  padding-right: 10px;
} */

.chart-button {
  font-size: 12px;
 padding: 0.5em 0.5em;
 margin-top: 7px;
 border: transparent;
 background: rgb(21, 148, 31);
 color: white;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}

button:hover {
  background: rgb(12, 69, 25);
  /* background: linear-gradient(140deg,#2da167,#14c25d); */
 }
 
 button:active {
  transform: translate(0em, 0.2em);
 }

/* .chart-wrapper {
  max-width: 100vw;
  background: rgb(0, 255, 221);
}

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: columns;
}

.form-wrapper {

  max-width: 70%;
}


.chart-form {
  padding: 15px 0 0;
  margin-top: 10px;
}

.chart-input {
  font-family: inherit;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: rgb(200, 35, 35);
  padding: 1px 3px;
  background: transparent;
  transition: border-color 0.2s;
}

.chart-label {
  margin-left: 20px;
  transition: 0.2s;
  font-size: 1rem;
  color: #363636;
}

.chart-input:focus {
  padding-bottom: 6px;  
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

.button-chart {
  display: block;
}

.chart-month {
  text-align: center;
}

.chart-text {
  max-width: 60%;
  display: flex; 
  justify-content: space-between;
}
 */


