@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');

.todo-container {
  background-color: rgb(153, 220, 153);
  max-width: 20vw;
  min-height: 66vh;
  border-radius: 15px;
  padding: 20px 10px;
  margin-right: 3em;
  color:black;
  font-weight: 500;
  align-items: center;
}

.task {
  width: 17vw;
  height: 3vh;
  border: 2px solid rgb(106, 190, 106);
  border-radius: 8px;
  padding-top: 2em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(255, 255, 255);
}

.tasks {
  display: inline-block;
  align-items: center;
}

.task-title-text {
  display: inline-block;
  margin-top: 3px;
}

.complete-task-button {
  max-width:6vw;
  background: rgb(12, 189, 47);
  border-radius: 5px;
  margin: 3px 0px;
  padding: 3px 3px;
  border: none;
  cursor: pointer;
  color:white;
  float:right;
}

.complete-task-button:hover {
  background-color: #098b40;
}

.remove-task-button {
  max-width:3vw;
  background: rgb(225, 11, 11);
  border-radius: 5px;
  margin: 3px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color:white;
  float:right;
}

.remove-task-button:hover {
  background: rgb(148, 17, 17)
}

.add-todo-button {
  width: 18vw;
  height: 5vh;
  background-color: #08ac4b;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color:white;
  font-size: 12px;
}

.add-todo-button:hover { 
  background-color: #0b7939;
}

.input-todo {
  border: none;
  width: 17vw;
  height: 4vh;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding-left: 14px;
  font-style:normal;
}

.header {
  font-family: Quicksand;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
}

.create-task {
  background-color: yellow;
}