.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  height: 70vh;
}

.contact-us-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 16vw;
  max-height: 46vh;
  margin-left: 24vw;
  background-color:#ebebeb;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.consent-input-wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  padding-top: 8px;
  font-size: 13px;

}

.contact-us-input {
  color:rgb(0, 0, 0);
  font-family: Quicksand;
  font-weight:500;
  font-size: 14px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.3s;
  border: none;
  padding: 10px 0px 10px 5px;
  margin-bottom: 15px;
  width:98%;
  box-sizing: border-box;
  outline:0;
  text-align: left;
}

.contact-us-input::placeholder {
 color: rgb(44, 44, 44);
 font-style: italic;
 font-size: 14px;
 text-align: left;
}

textarea {
 height: 22vh;
 resize:vertical;
 text-align: left;
}

textarea::placeholder {
 color: rgb(44, 44, 44);
 font-size: 14px;
 font-style: italic;
 padding-top: 5px;
}

.consent-text {
  font-size: 13px;
}


.contact-us-message-sent {
  font-family: Quicksand;
  width: 16vw;
  height: 8vh;
  background-color: #08ac4b;
  border-radius: 5px;
  margin-top: 8px;
  padding: 3px 3px;
  border: none;
  cursor: pointer;
  color:white;
  font-size: 16px;
}

.contact-us-message-sent:hover { background:#1e821c; }

.captcha-checkbox-text {
 font-size: 14px;
 color:rgb(255, 0, 0);
 margin-top: 0.5em;
 margin-bottom: 0.1em;
}

