.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  height: 70vh;
}

.contact-us-form {
  max-width: 80vw;
  max-height: 46vh;
  margin-left: 24vw;
  background-color:#ebebeb;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.contact-us-input {
  color:rgb(0, 0, 0);
  font-family: Quicksand;
font-weight:500;
font-size: 14px;
border-radius: 5px;
background-color: white;
transition: all 0.3s;
border: none;
padding: 13px;
margin-bottom: 15px;
width:100%;
box-sizing: border-box;
outline:0;
text-align: left;
}

.contact-us-input::placeholder {
color: rgb(44, 44, 44);
font-style: italic;
padding: 10px 0px 10px 0px;
font-size: 14px;
text-align: left;
}

textarea {
  height: 150px;
resize:vertical;
text-align: left;
}

textarea::placeholder {
  color: rgb(44, 44, 44);
   font-size: 14px;
   font-style: italic;
   padding-top: 5px;
}

.contact-us-message-sent {
  font-family: Quicksand;
  width: 18vw;
  height: 5vh;
  background-color: #08ac4b;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 3px 3px;
  border: none;
  cursor: pointer;
  color:white;
  font-size: 16px;
}
.contact-us-message-sent:hover { background:#1e821c; }

